  <h2>평가 목록</h2>
  <table class="table table-condensed">
    <% @evaluations.each do |evaluation| %>
      <tr style="background-color: ghostwhite">
        <td><%= link_to "#{evaluation.id}차 평가", admin_evaluation_path(:id => evaluation.id) %></td>
        <td></td>
      </tr>
    <% end %>
  </table>

<!-- <div class="well well-sm pull-right">
	<%= form_for :evaluation do |f| %>
       <p>
        	<%= f.submit 'NEW', :class=> 'btn btn-info'%>
       </p>
	<% end %>
</div> -->



<%= form_tag evaluations_path, :method => 'post', :role => 'create' do %>
  <button type="submit" class="btn btn-info">NEW</button>
<% end %>