<% if notice %>
<p id="notice" class="alert alert-danger"><%= notice %></p>
<% end %>
Home!
<br>

<table class="table table-condensed">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr style="background-color: ghostwhite">
        <td>
          <%= job.subject %> <%= link_to '평가하기', new_result_path(:material_id => job.id, :evaluation_id => @eval.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
